*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* main content wrapper */
.container {
  position: absolute;
  left: 10vw;
  right: 10vw;
  top: 4rem;
}

/* header/link organization */
.link-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -ms-flex;
  -ms-flex-direction: row;
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
}

.box-header-title {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 auto;
          flex: 5 1 auto;
}

.box-header-link {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  max-width: 100px;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-justify-content: right;
  -ms-justify-content: row;
}

/* project organizaiton */
.box-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -ms-flex;
  -ms-flex-direction: row;
  -webkit-align-items: baseline;
  -ms-align-items: baseline;
}

/* images */
.image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
  display: -ms-flex;
  -ms-flex-direction: column;
  -webkit-align-items: center;
  -ms-align-items: center;
}

.image-caption {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 1rem;
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
}

@media screen and (max-width: 800px) {
  .image-caption-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 1rem;
    width: 80vw;
    display: -ms-flex;
    -ms-flex-direction: column;
  }
  .banner-image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 1rem;
    width: 80vw;
    display: -ms-flex;
    -ms-flex-direction: column;
  }
  .box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    display: -ms-flex;
    -ms-flex-direction: row;
  }
  .link-stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    display: -ms-flex;
    -ms-flex-direction: column;
    -webkit-align-items: left;
    -ms-align-items: left;
  }
  .gif-caption-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
    width: 80vw;
    display: -ms-flex;
  }
  .gif-border {
    border-radius: 45px;
    border: 12px black solid;
  }
}
@media screen and (min-width: 800px) {
  .image-caption-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 1rem;
    width: 45vw;
    display: -ms-flex;
    -ms-flex-direction: column;
  }
  .banner-image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 1rem;
    width: 80vw;
    display: -ms-flex;
    -ms-flex-direction: column;
  }
  .box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -ms-flex;
    -ms-flex-direction: row;
    -webkit-align-items: baseline;
    -ms-align-items: baseline;
  }
  .gif-caption-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
    width: 25vw;
    display: -ms-flex;
  }
  .gif-border {
    border-radius: 30px;
    border: 8px black solid;
  }
}
@media screen and (min-width: 1200px) {
  .gif-border {
    border-radius: 50px;
    border: 12px black solid;
  }
}
/* video */
.video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 1rem;
  width: 80vw;
  display: -ms-flex;
  -ms-flex-direction: column;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
}

.box-footer-project {
  max-width: 17rem;
  padding-bottom: 2rem;
}

.box-footer-data {
  padding-bottom: 2rem;
}